@{
    Layout = "../Shared/_LayoutHome.cshtml";
}

@model BLL.ViewModel.LoginModel


    <title>VMS Login</title>
                
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-3" }))
                    {

                        <div class="left right-panel">
                            <span class="login-heading">Login</span>
                            <p>Enter your user name and password.</p>

                            <label>* User Name</label>
                            <input data-val="true" class="field" data-val-required="The User name field is required." id="UserName" name="UserName" type="text" value="" required />

                            <label>* Password</label>
                            <input data-val="true" class="field" data-val-required="The Password field is required." id="Password" name="Password" type="password" required />

                            <button class="btn left" type="submit" name="submit">Login</button>
                            @Html.ValidationSummary(true)
                        </div>
                        <div style="display:none">
                            @Html.AntiForgeryToken()
                        </div>


                    }